<!-- @format -->

{% extends 'hoodapp/base.html'%} {% block content%}
<style>
	body{
        background-image: url('https://images.pexels.com/photos/164522/pexels-photo-164522.jpeg?auto=compress&cs=tinysrgb&w=1600');
        }
</style>

<div class="px-4 py-5 my-5 text-center col-md-6 mx-auto rounded-3" style="background-color: rgba(241, 233, 233, 0.74); color: rgb(3, 9, 15);">
	
    <span class="iconify" data-icon="bi:arrow-up-right-circle-fill" alt="" width="72" >
        

        </span>
		
		
		
	
	<h1 class="display-5 fw-bold">About Hood-Ville</h1>
	<p class="lead">We believe in the possibilities nearby and Beyond</p>
	<div class="col-lg-6 mx-auto">
		<blockquote>
			Hood-Ville is where you connect to the neighborhoods that matter to you so
			you can belong to a neighbourhood that is connected.
		</blockquote>
		<p class="lead mb-4" style="color: rgb(61, 43, 226)"
			>By bringing neighbors and organizations together, we can cultivate a
			kinder world where everyone has a neighborhood they can rely on.</p
		>
		<h4 class="fw-bold fst-italic" style="color: rgb(4,33,43)"
			>The neighborhood network</h4
		>
		<p class="text-start">
			Neighbors around the world turn to Hood-Ville daily to get  trusted
			information, give and get help, get things done, and build real-world
			insights with those nearby — neighbors, businesses, and public
			services. We believe connecting with others is a universal human need.
			That truth, and the reality that neighborhoods are among the most
			important communities in our lives, have been guiding principles for
			Nextdoor since the beginning.
		</p>
		<h4 class="fw-bold fst-italic" style="color: rgb(61, 43, 226)"
			>Connecting with the neighborhood</h4
		>
		<p class="text-start">
			We recognize that thriving communities are made up of the neighbors and
			organizations that build stronger, more vibrant, and resilient
			neighborhoods.
               <div class="text-start my-2">
                    <span class="fw-bold" style="color: rgb(61,43,226);"> Neighbors</span> — Connect with the people you already wave to in
			your neighborhood, or those you have yet to meet.
               </div>
               <div class="text-start my-2">
                    <span class="fw-bold" style="color: rgb(43, 226, 153);">Businesses</span> — Instantly reach your most valuable customers —
			your neighbors — and become a trusted part of the neighborhood. 
               <div class="text-start my-2">
               <span class="fw-bold" style="color: rgb(61,43,226);">Establishments</span>
               
			— Engage with the people who need you most and find support from home owners
			nearby with offers like Mortgages and Flexible Payment Plans.
               </div>
               </div>
               <div class="text-start my-2">
                    <span class="fw-bold" style="color: rgb(43, 226, 153);"> Public agencies </span>—
			Share critical, real-time information directly at the neighborhood level.
               </div>
               <div class="text-start">
                    <span class="fw-bold" style="color: rgb(43, 226, 153);"> Large brands</span> — Provide locally relevant products and
			services that improve neighbors daily lives.
               </div>
			

			 
               
			
		</p>

		<!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
         <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
       </div> -->
	</div>
</div>
{% endblock content%}