<!-- @format -->

{% extends 'hoodapp/base.html'%} {% block content%}
<style>
	body{
        background-image: url('https://images.pexels.com/photos/164522/pexels-photo-164522.jpeg?auto=compress&cs=tinysrgb&w=1600');
        }
</style>

<div class="px-4 py-5 my-5 text-center col-md-6 mx-auto rounded-3" style="background-color: rgba(241, 233, 233, 0.74); color: rgb(3, 9, 15);">
	
    <span class="iconify" data-icon="bi:arrow-up-right-circle-fill" alt="" width="72" >
        

        </span>
		
		
		
	
	<h1 class="display-5 fw-bold">About Hood-Ville</h1>
	<p class="lead">We believe in the possibilities nearby and Beyond</p>
	<div class="col-lg-6 mx-auto">
		<blockquote>
			
		</blockquote>
		<p class="lead mb-4" style="color: rgb(4,33,43);"
			>By bringing neighbors and organizations together, we can cultivate a
			kinder world where everyone has a neighborhood they can rely on.</p
		>
		<h4 class="fw-bold fst-italic" style="color: rgb(4,33,43);"
			>The neighborhood network</h4
		>
		<p class="text-start">
			Neighbors around the world turn to Hood-Ville daily to get  trusted
			information, give and get help, get things done, and build real-world
			insights with those nearby — neighbors, businesses, and public
			services. We believe connecting with other like-minded individuals is a universal human need.
			That said,the reality that neighborhoods are among the most
			important communities in our lives, have been guiding principles for
			Nextdoor services since the beginning.
		</p>
		<h4 class="fw-bold fst-italic" style="color: rgb(4,33,43);"
			>Connecting with the neighborhood</h4
		>
		<p class="text-start">
			We recognize that thriving communities are made up of the neighbors and
			organizations that build stronger, more vibrant, and resilient
			neighborhoods.
               <div class="text-start my-2">
                    <span class="fw-bold" style="color:rgb(4,33,43);"> Neighbors</span> — Connect with the people you already wave to in
			your neighborhood, or those you have yet to meet.
               </div>
               <div class="text-start my-2">
                    <span class="fw-bold" style="color: rgb(4,33,43);">Businesses</span> — Instantly reach your most valuable customers —
			your neighbors — and become a trusted part of the neighborhood. 
               <div class="text-start my-2">
               <span class="fw-bold" style="color: rgb(4,33,43);">Establishments</span>
               
			— Engage with the people who need you most and find support from home owners
			nearby with offers like Mortgages and Flexible Payment Plans.
               </div>
               </div>
               <div class="text-start my-2">
                    <span class="fw-bold" style="color: rgb(43, 226, 153);"> Public agencies </span>—
			Share critical, real-time information directly at the neighborhood level.
               </div>
               <div class="text-start">
                    <span class="fw-bold" style="color: rgb(43, 226, 153);"> Large brands</span> — Provide locally relevant products and that are upto standards with the Urban Developemnt Planning Agency.
               </div>
			

		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-171372d7 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="171372d7" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61cdd3aa" data-id="61cdd3aa" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-15413cc elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="15413cc" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-208a93a4 animated-slow" data-id="208a93a4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;,&quot;animation_mobile&quot;:&quot;fadeInDown&quot;,&quot;animation&quot;:&quot;none&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3b91db37 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="3b91db37" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="56" height="52" src="https://myfundiapp.com/wp-content/uploads/2021/10/mt-1448-home-icon1.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Step 1</h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-40a1109b elementor-widget elementor-widget-text-editor" data-id="40a1109b" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							Log-in to our app and select the location where you want to avail the service. By default, the app will automatically pick up your current location using the GPS of your phone. However, you can always set the location manually.						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7b451342 animated-slow" data-id="7b451342" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;,&quot;animation_mobile&quot;:&quot;fadeInRight&quot;,&quot;animation&quot;:&quot;none&quot;,&quot;animation_delay&quot;:0.299999999999999988897769753748434595763683319091796875}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2ffc41a8 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="2ffc41a8" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="56" height="52" src="https://myfundiapp.com/wp-content/uploads/2021/10/mt-1448-home-icon2.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Step 2</h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-67585736 elementor-widget elementor-widget-text-editor" data-id="67585736" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							Select the service you wanted and when you wanted. The scheduling service option is also available there.  So that you can book the service when you are at work and we will be there when you return.						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7189793c animated-slow" data-id="7189793c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;,&quot;animation_mobile&quot;:&quot;fadeInUp&quot;,&quot;animation&quot;:&quot;none&quot;,&quot;animation_delay&quot;:0.59999999999999997779553950749686919152736663818359375}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-39fc79a9 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="39fc79a9" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="56" height="52" src="https://myfundiapp.com/wp-content/uploads/2021/10/mt-1448-home-icon3.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Step 3</h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-51b432c5 elementor-widget elementor-widget-text-editor" data-id="51b432c5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							Select the payment option, and tap on confirm to book your service. Our representatives will reach your location, at your desired time. The app will also remind you about the service 30 minutes before the time, so you won’t forget. 						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
        
        <section class="elementor-section elementor-inner-section elementor-element elementor-element-29d1a604 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="29d1a604" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-66f90666" data-id="66f90666" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4cd68a6f elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="4cd68a6f" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-pulse" >
				<i aria-hidden="true" class="fas fa-map-marked-alt"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span  >
						Live Tracking					</span>
				</h3>
									<p class="elementor-icon-box-description">
						You can track the service status anytime from anywhere. 					</p>
							</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-27e0cdc7" data-id="27e0cdc7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1e10328a elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="1e10328a" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-pulse" >
				<i aria-hidden="true" class="fas fa-calendar-alt"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span  >
						Schedule Service					</span>
				</h3>
									<p class="elementor-icon-box-description">
						Changed your mind? Easily schedule your the service you have booked for another time.					</p>
							</div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
               
			
		</p>

		<!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
         <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
       </div> -->
	</div>
</div>
{% endblock content%}