{%extends 'base.html'%} {% load bootstrap4 %} {% load static%} {% block content%}
<div class="container" style="margin-top:6% ">
            <div class="prof-body text-white mt-3" style="margin-left: 30%;">
                <h6 class="mb-4" style="color:aqua; font-size:1.5rem">CREATE A NEIGHBOURHOOD HERE</h6>
                <form action="{% url 'createhood'%}" method="post" enctype="multipart/form-data" style="color:aqua">
                    {% csrf_token%} {% bootstrap_form form %}
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-success hood-btn" value="Create Neighbourhood">
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

</div>{% endblock %}