{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% if title %}
 
  <title>Hoodville | {{title}}</title>
  <link rel="icon" type="image/x-icon" href="https://freesvg.org/img/1402196533.png"/>
  {% else %}
  <title> Hoodville </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Tahoma" rel="stylesheet">
  {% endblock %}
</head>
<body>
 <!--navbar-->
  {% include "navbar.html" %}

  {% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-sm-12" style="margin-top:20%; ">
          .<div class="jumbotron jumbotron-fluid" style="background-color: rgba(179, 163, 163, 0.6);">
            <div class="container">
              <h2 style="font-size:4rem; color:rgb(4, 43, 43); font-weight:bolder">Holla!  Welcome to HoodVille </h2>
              <h4 style="font-size:1.7rem; color:rgb(8, 50, 47); "><i>Experience A Neighbourhood You Can Belong To</i></h4> 
              <hr class="my-2">
            
              <p class="lead">
                <a href="/accounts/register/"><button class="btn  hood-btn btn-lg " style="background-color: rgb(4, 43, 43); color:white" role="button">SIGNUP </button></a>
      <a href="/accounts/login/"><button class="btn hood-btn btn-lg" style="background-color: rgb(4, 43, 43); color:white" role="button">LOGIN </button></a>

              </p>
            </div>
          </div>
            
            
            
            <br>
           
        </div>
      
    </div>
    <div class="signs " style="margin-left:1%;">
      


  </div>
</div>

  {% endblock content %}





  <!-- scripts -->
  {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  {% bootstrap_javascript %}
  <script src=""></script>
  {% endblock %} 


</body>

</html>


