{%extends 'base.html'%} {% load bootstrap4 %} {% load static%} {% block content%}
<div class="container " style="margin-top:6%">
    <div class="sidebar">

       
        <div class="side-wrapper">

            {% if request.user.profile.neighbourhood == hood %}
            
            <div class="side-menu">
                <div class="HOOD">


                    <a href="{% url 'post' hood_id=hood.id %}"> <button class="btn btn-primary mt-4 hood-btn">Create a Post <i
                                    style="color: #fff" class="far ms-2 fa-newspaper"></i></button></a>

                </div>
            </div>
            <div class="HOOD">

                <a href="{% url 'create-business' id=hood.id %}"> <button class="btn btn-primary mt-4 hood-btn">Create a Business
                            <i style="color: #fff" class="fas ms-2 fa-briefcase"></i></button></a>
            </div>


            {%endif%}
        </div>
    </div>


    <div class="row">
        <div class="">
            <img class="img-responsive my-pic mt-3" style="margin-left:10%"height=450px width="880px" src="{{hood.image.url}}" alt="House"  />
        </div>
        <div class=" mt-5 mx-3" >
            <h3>Welcome to {{hood.name}},{{hood.location}}</h3>
            <p>{{hood.description}}</p>
            <ul >
                <li>
                    <p>{{hood.neighbourhood_post.count}} post{{hood.neighbour_post.count|pluralize}}</p>
                </li>
                <li>
                    <p>{{hood.neighbour.count}} neighbour{{hood.neighbour.count|pluralize}}</p>
                </li>
                <li>
                    <p>{{hood.business.count}} business{{hood.business.count|pluralize}}</p>
                </li>
            </ul>
            <div class="float" style="float:right">
            <h3 >HEALTH DEPARTMENT</h3>
            <p>{{hood.health_center}}</p>
            <p><i class="fas fa-phone me-2 text-white"></i> {{hood.health_contact}}</p>
            <p><i class="far fa-envelope me-2 text-white" ></i>{{hood.health_email}}</p>
            </div>
            <h3>POLICE </h3>
            <p>{{hood.authority_center}}</p>
            <p><i class="fas fa-phone me-2 text-white" ></i> 999{{hood.authority_contact}}</p>
            <p><i class="far fa-envelope me-2 text-white"></i>{{hood.authority_email}}</p>
           
            <h3>NeighbourHood Posts</h3>
            <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-8 ">
            {% for post in posts %}
            <div class="card mb-3 p-0 " style="width: 45rem; background: #093536">
                <h5 class="card-header p-0 text-white text-center">{{post.title}}</h5>
                <div class="card-body">
                    <img src="{{post.image.url}}" alt="postimage" height="300px" width="680">
                    <p class="card-text text-white">{{post.info}}</p>
                    <p class="text-muted">Posted {{post.post_date|timesince}} ago, by {{post.user}}</p>
                </div>
            </div>
      
      
        {% endfor %}
            </div>
        </div>
        

        <h3 style="margin-right:15% ; margin-left:1.8%;">NeighbourHood Business</h3>
        <div class="bst">
           
            <form class="form-inline my-2  my-lg-0 " method="get" action="{% url 'search_results' %}" >
                {% csrf_token %}

                <input class="form-control mr-sm-2 place" style="width: 18rem;" name="business" type="search" placeholder="Search for a Business" aria-label="Search">
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary hood-btn" value="Search">
                </div>
                <input type="hidden" name="next" value="{{next}}">
            </form>
        </div>
        <div class="row p-4 mt-4">
            {% for business in businesses %}

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="HOOD">
                    <div class="card mb-2">
                        {% if business.image %}
                        <img class="card-img-top" src="{{business.image.url}}" alt="Card image cap"> {% else %}
                        <p>No Image</p>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-text text-white">{{business.name}}</h5>
                            <p><strong>Owner</strong>: {{business.user}}</p>
                            <p>BUSINESS CONTACTS:</p>
                            <p><i class="fas fa-phone me-2"></i> +254{{business.phone_number}}</p>
                            <p><i class="far fa-envelope me-2"></i> {{business.email}}</p>
                            <p class="ms-auto">Created {{business.post_date|timesince}} ago</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <p>{{business.name}}</p>
        <p>{{business.email}}</p>
    </div>
</div>




{% endblock %}