{%extends 'base.html'%} {% load bootstrap4 %} {% load static%} {% block content%}
<div class=" container p-5 text-center" style="margin-top:6%">
    <div class="search">
        {% if myhood %}
        <p> We have found {{myhood|length}} hood with the search term {{message}} in this neighbourhood.</p>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                {% for hoods in myhood %}

                <div class="HOOD">
                    <div class="card mb-2" style="width: 24rem;">

                        <img class="card-img-top" src="{{hoods.image.url}}" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-text">{{hoods.name}}</h5>
                            
                            <p>NEIGHBORHOOD CONTACTS:</p>
                            <p><i class="fas fa-phone me-2"></i> +254{{hoods.phone_number}}</p>
                            <p><i class="far fa-envelope me-2"></i> {{hoods.email}}</p>
                            <p class="ms-auto">Created {{hoods.post_date|timesince}} ago</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        {% endfor %}
    </div>
        {% else %}
        <p> We have found 0 hoods for the search term "{{message}}" in this neighbourhood.</p>
        {% endif %} 
    
</div>
</div> {% endblock %}