{%extends "django_registration/base.html"%} {% load bootstrap4 %} {% block content %}
<div class="container">
    <div class="row signs">
        <!-- Empty div -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Password or Username is incorrect </p>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">Login</h3>
                </div>


                <div class="panel-body">

                    <form action="/accounts/login/" method="post">
                        {% csrf_token %} {% bootstrap_form form%}

                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-md" value="Login">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>
                    <p class="mt-5 text-light"  ><button class="btn bg-success text-light"style="font-size:1.2rem ;">Don't Have an Account Yet? <br><a href="/accounts/register/" class="text-light" style="text-decoration:none">Sign Up Here</a></button></p>

                </div>

            </div>

        </div>
        <!-- empty div -->
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}